{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% extends 'layout.html.twig' %}

{% block body %}
     <script  src="{{asset('bundles/systeodepense/js/main.js') }}" ></script>   
     <script  src="{{asset('bundles/systeotier/js/main.js') }}" ></script>
    <fieldset>
            <legend>{{ 'Nouvelle Dépense'}}</legend>
    </fieldset>
    <div class="row">
        <div class="col-lg-12">      
            <div class="btn_list pull-right">
                <a href="{{ path('depense_index') }}"  class="btn btn-info">Liste des dépenses <span class="glyphicon glyphicon-th-list"></span></a>
            </div>
        </div>
    </div>

    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-lg-4">
            <label class="control-label required" for="tierName">Tier</label>
            <div class="input-group">
                <input nam="tier_name" id="tierName" class="form-control" value="{%if depense.tier%}{{depense.tier.name}}{%endif%}">
                <div class="input-group-addon" id='ajouter-tier' data-url="{{path('tier_index')}}"><i class='glyphicon glyphicon-th-list'></i></div>  
            </div>
            {{ form_widget(edit_form.tier) }}
            {{ form_errors(edit_form.tier) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.depenseCategory) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.date) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(edit_form.name) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(edit_form.remarque) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {{ form_row(edit_form.montantHt) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.montantTva) }}
        </div>
        <div class="col-lg-4">
            {{ form_row(edit_form.montantTtc) }}
        </div>
    </div>
     <input type="submit" value="Enregistrer" class="btn btn-success"/>
    {{ form_end(edit_form) }}
    <div class="modal fade" id="myModalListeTier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="my-modal-large" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalListeTierLabel">Liste des Tiers</h4>
                </div>
                <div class="modal-body" id="myModalListeTierBody">

                </div>
                <span 
                    id="affectationTier" 
                    data-id="systeo_depense_tier"
                    data-name="tierName"
                    ></span>
            </div>
        </div>
    </div>
    <style>
        .help-block{
            color:#a94442 !important;
        }
    </style>
{% endblock %}