{% extends 'layout.html.twig' %}
{% block body %}
    <script  src="{{asset('bundles/systeodepense/js/main.js') }}" ></script>   
    <fieldset>
        <legend>{{ 'Liste des dépenses'}}</legend>
    </fieldset>
     <div class="btn_add">
        <a href="{{ path('depense_new') }}"  class="btn btn-success pull-right">Ajouter une  dépense <span class="glyphicon glyphicon-plus"></span></a>
    </div>
     
    <div class="clear-both"></div>
    <form name='Recherche' method="POST" novalidate id="form-recherche-depense-reglement">
    <br />
    <div class='row'>
            
            <div class='col-lg-4'>
                {{ form_widget(form.depenseCategory,{'attr':{'class':'form-control'}}) }}
            </div>
            <div class='col-lg-2'>
                <input name='depense_search[tier]' placeholder='Tier'  class='form-control' value='{{app.request.get('tier')}}'>
            </div>
            <div class='col-lg-2'>
                <input name='depense_search[name]' placeholder='Libellé & remarque'  class='form-control' value='{{app.request.get('name')}}'>
            </div>
            
            
            <div class='col-lg-3'>
                {%set date_debut = ""%}
                {%set date_fin = ""%}
                {%if app.request.get('date_debut')%}
                    {%set date = app.request.get('date_debut')|split('-')%}
                    {%if date[2] is defined %}{% set date_debut = date[2]~'/'%}{%endif%}
                    {%if date[1] is defined %}{% set date_debut = date_debut~date[1]~'/'%}{%endif%}
                    {%if date[0] is defined %}{% set date_debut = date_debut~date[0]%}{%endif%}
                {%endif%}
                {%if app.request.get('date_fin')%}
                    {%set date = app.request.get('date_fin')|split('-')%}
                    {%if date[2] is defined %}{% set date_fin = date[2]~'/'%}{%endif%}
                    {%if date[1] is defined %}{% set date_fin = date_fin~date[1]~'/'%}{%endif%}
                    {%if date[0] is defined %}{% set date_fin = date_fin~date[0]%}{%endif%}
                {%endif%}
                <div class='col-lg-6'>
                    <input name='depense_search[date_debut]'  placeholder='Date de '  class='form-control datepicker' value='{{date_debut}}'>      
                </div>
                <div class='col-lg-6'>
                    <input name='depense_search[date_fin]'  placeholder='à'  class='form-control datepicker' value='{{date_fin }}'>      
                </div>
            </div>
            
            
    </div>
    <br />
    <div class='row'>
        <div class='col-lg-2'>
            <input name='depense_search[montantHt]'  placeholder='montant HT'  class='form-control' value='{{app.request.get('montantHt')}}'>      
        </div>
        <div class='col-lg-1' style='margin-left: -25px;'>
            <select name='depense_search[montantHt_comparateur]' class='form-control'>
                <option {%if app.request.get('montantHt_comparateur') == "="%}selected{%endif%} value='='>=</option>
                <option {%if app.request.get('montantHt_comparateur') == ">="%}selected{%endif%} value='>='>>=</option>
                <option {%if app.request.get('montantHt_comparateur') == "<="%}selected{%endif%} value='<='><=</option>
                <option {%if app.request.get('montantHt_comparateur') == ">"%}selected{%endif%} value='>'>></option>
                <option {%if app.request.get('montantHt_comparateur') == "<"%}selected{%endif%} value='<'><</option>
            </select>
        </div>
        
        <div class='col-lg-2'>
            <input name='depense_search[montantTva]'  placeholder='montant TVA'  class='form-control' value='{{app.request.get('montantTva')}}'>      
        </div>
        <div class='col-lg-1' style='margin-left: -25px;'>
            <select name='depense_search[montantTva_comparateur]' class='form-control'>
                <option {%if app.request.get('montantTva_comparateur') == "="%}selected{%endif%} value='='>=</option>
                <option {%if app.request.get('montantTva_comparateur') == ">="%}selected{%endif%} value='>='>>=</option>
                <option {%if app.request.get('montantTva_comparateur') == "<="%}selected{%endif%} value='<='><=</option>
                <option {%if app.request.get('montantTva_comparateur') == ">"%}selected{%endif%} value='>'>></option>
                <option {%if app.request.get('montantTva_comparateur') == "<"%}selected{%endif%} value='<'><</option>
            </select>
        </div>
        
        <div class='col-lg-2'>
            <input name='depense_search[montantTtc]'  placeholder='montant TTC'  class='form-control' value='{{app.request.get('montantTtc')}}'>      
        </div>
        <div class='col-lg-1' style='margin-left: -25px;'>
            <select name='depense_search[montantTtc_comparateur]' class='form-control'>
                <option {%if app.request.get('montantTtc_comparateur') == "="%}selected{%endif%} value='='>=</option>
                <option {%if app.request.get('montantTtc_comparateur') == ">="%}selected{%endif%} value='>='>>=</option>
                <option {%if app.request.get('montantTtc_comparateur') == "<="%}selected{%endif%} value='<='><=</option>
                <option {%if app.request.get('montantTtc_comparateur') == ">"%}selected{%endif%} value='>'>></option>
                <option {%if app.request.get('montantTtc_comparateur') == "<"%}selected{%endif%} value='<'><</option>
            </select>
        </div>
            
        <div class='col-lg-2'>
            <input name='depense_search[solde]'  placeholder='Solde'  class='form-control' value='{{app.request.get('solde')}}'>      
        </div>
        <div class='col-lg-1' style='margin-left: -25px;'>
            <select name='depense_search[solde_comparateur]' class='form-control'>
                <option {%if app.request.get('solde_comparateur') == "="%}selected{%endif%} value='='>=</option>
                <option {%if app.request.get('solde_comparateur') == ">="%}selected{%endif%} value='>='>>=</option>
                <option {%if app.request.get('solde_comparateur') == "<="%}selected{%endif%} value='<='><=</option>
                <option {%if app.request.get('solde_comparateur') == ">"%}selected{%endif%} value='>'>></option>
                <option {%if app.request.get('solde_comparateur') == "<"%}selected{%endif%} value='<'><</option>
            </select>
        </div>
    </div>  
    
    <br />
    <div class='row'>
        <div class='col-lg-2'>
            <input type='submit' value='Rechercher' class='btn btn-primary'> 
            <a href='{{path('depense_index')}}' class='btn btn-danger'>Reset</a>
        </div>
    </div>
    <br />
    </form>    
    <table class="table table-bordered index_table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Fichier</th>
                <th>Catégorie</th>
                <th>Tier / Fournisseur</th>
                <th>Libellé</th>
                <th>Date</th>
                <th class="text-right">Montant HT</th>
                <th class="text-right">Montant TVA</th>
                <th class="text-right">Montant TTC</th>
                <th class="text-right">Solde</th>
                <th id="index_th_action">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for depense in depenses %}
                <tr>
                    <td nowrap>DEP-{{depense.id}}</td>
                    <td>
                        {%if files[depense.id]%}
                            {%for fichier in files[depense.id]%}
                                <a href="" taget="_blank"><i class="glyphicon glyphicon-paperclip"></i></a>
                            {%endfor%}
                        {%endif%}
                    </td>
                    <td>{%if depense.DepenseCategory%}{{depense.DepenseCategory.name}}{%endif%}</td>
                    <td>{%if depense.tier%}<a href="{{path('tier_show',{'id':depense.tier.id})}}">{{depense.tier.name}}</a>{%endif%}</td>
                    <td>{{depense.name}}</td>
                    <td>{%if depense.date%}{{depense.date|date('d/m/Y')}}{%endif%}</td>
                    <td class='text-right' nowrap>{%if depense.montantHt%}{{depense.montantHt|number_format(3, '.', ' ')}}{%endif%}</td>
                    <td class='text-right' nowrap>{%if depense.montantTva%}{{depense.montantTva|number_format(3, '.', ' ')}}{%endif%}</td>
                    <td class='text-right' nowrap>{%if depense.montantTtc%}{{depense.montantTtc|number_format(3, '.', ' ')}}{%endif%}</td>
                    <td class='text-right' nowrap>
                        {{depense.solde|number_format(3, '.', ' ')}}
                    </td>
                    <td>
                        <ul id="index_action_buttons">
                            <li>
                                <a href="{{ path('depense_show', { 'id': depense.id }) }}"  class="btn btn-primary btn-xs">Détails <span class="glyphicon glyphicon-search"></span></a>
                            </li>
                            <li>
                                <a href="{{ path('depense_edit', { 'id': depense.id }) }}"  class="btn btn-warning btn-xs">Modifier  <span class="glyphicon glyphicon-edit"></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan='6'></td>
                <td class='text-right' nowrap><b>{{totaux['HT']|number_format(3, '.', ' ')}}</b></td>
                <td class='text-right' nowrap><b>{{totaux['TVA']|number_format(3, '.', ' ')}}</b></td>
                <td class='text-right' nowrap><b>{{totaux['TTC']|number_format(3, '.', ' ')}}</b></td>
                <td class='text-right' nowrap><b>{{totaux['SOLDE']|number_format(3, '.', ' ')}}</b></td>
                <td></td>
            </tr>
                
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(depenses) }}
    </div>         
        <script>
            getDepenseCategorySearch("{{app.request.get('depenseCategory')}}");
        </script>
{% endblock %}