{% extends 'layout.html.twig' %}

{% block body %}
    <script  src="{{asset('bundles/systeovente/js/main.js') }}" ></script> 
    <script  src="{{asset('bundles/systeobanque/js/main.js') }}" ></script>
    <script  src="{{asset('bundles/systeoreglement/js/main.js') }}" ></script>
    <fieldset>
            <legend>Détails {{piece.type}}</legend>
    </fieldset>
    <div class="row">
        <div class="col-lg-12">
            <div class="btn_add pull-right">
                <ul id='show_action_buttons'>
                    <li><a href="{{ path('piece_imprimer_one', { 'id': piece.id }) }}" target="_blank"  class="btn btn-default">Imprimer  <span class="glyphicon glyphicon-print"></a></li>
                    <li><a href="{{ path('piece_index') }}?type={{piece.type}}"  class="btn btn-info">Liste des {{piece.type}}s <span class="glyphicon glyphicon-th-list"></span></a></li>
                    <li><a href="{{ path('piece_edit', { 'id': piece.id }) }}"  class="btn btn-warning">Modifier  <span class="glyphicon glyphicon-edit"></a></li>
                    <li>
                        {{ form_start(delete_form) }}

                        <button class='btn btn-danger delete_form_button' data-msg="Voulez vous vraiement supprimer ce(tte) {{piece.type}} ?" type="button">Supprimer <span class="glyphicon glyphicon-trash"></span></button>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>   
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Tier / Client</th>
                        <td>{%if piece.tier%}<a href="{{path('tier_show',{'id':piece.tier.id})}}">{{piece.tierName}}</a>{%else%}{{piece.tierName}}{%endif%}</td>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <td>CL-0{{piece.tier.id}}</td>
                    </tr>
                    <tr>
                        <th>Matricule fiscale</th>
                        <td>{{piece.tierMf}}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{piece.tierAdresse}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
                    
        <div class="col-lg-4 col-lg-offset-1">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th class="col-lg-3">Numéro</th>
                        {%set prefix=''%}
                        {%if piece.numero != ""%}
                            {%for i in 0..(3-piece.numero|length)%}
                                {%set prefix=prefix~'0'%}
                            {%endfor%}
                        {%endif%}
                        <td>{{prefix}}{{piece.numero}} / {%if piece.date%}{{piece.date|date('Y')}}{%endif%}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{%if piece.date%}{{piece.date|date('d/m/Y')}}{%endif%}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 7%">Code</th>
                    <th style="width: 50%">Désignation</th>
                    <th style="width: 14%" class="text-right">Prix Unit</th>
                    <th style="width: 7%" class="text-center">Qté</th>
                    <th style="width: 7%" class="text-center">TVA</th>
                    <th style="width: 15%" class="text-right">Total HT</th>
                </tr>
                {%for ligne in piece.pieceLignes%}
                    <tr>
                    <td>{{ligne.code}}</td>
                    <td>{{ligne.name|raw}}</td>
                    <td class="text-right" nowrap>{%if ligne.prixHt%}{{ligne.prixHt|number_format(3, '.', ' ')}}{%endif%}</td>
                    <td class="text-center">{{ligne.quantite}}</td>
                    <td class="text-center">{{ligne.tauxTva}}</td>
                    <td class="text-right" nowrap>{%if ligne.totalHt%}{{ligne.totalHt|number_format(3, '.', ' ')}}{%endif%}</td>
                    </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="text-center">TVA</th>
                    <th class="text-center">Montant</th>
                </tr>
                {%for key,base in base_tva%}
                    {%if base != 0%}
                    <tr>
                        <th class="text-center">{{key}}</th>
                        <td class="text-center" nowrap>{%if base%}{{base|number_format(3, '.', ' ')}}{%endif%}</td>
                    </tr>
                    {%endif%}
                {%endfor%}
            </table>
        </div>
        <div class="col-lg-3 col-lg-offset-3">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Total HT</th>
                    <td class="text-right" nowrap>{%if piece.montantHt%}{{piece.montantHt|number_format(3, '.', ' ')}}{%endif%}</td>
                </tr>
                {% if tauxFodec is not null %}
                <tr>
                    <th>Total Fodec</th>
                    <td class="text-right" nowrap>{%if piece.montantFodec%}{{piece.montantFodec|number_format(3, '.', ' ')}}{%endif%}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Montant TVA</th>
                    <td class="text-right" nowrap>{%if piece.montantTva%}{{piece.montantTva|number_format(3, '.', ' ')}}{%endif%}</td>
                </tr>
                <tr>
                    <th>Droit de timbre</th>
                    <td class="text-right" nowrap>{%if piece.montantTimbre%}{{piece.montantTimbre|number_format(3, '.', ' ')}}{%endif%}</td>
                </tr>
                <tr>
                    <th>Total TTC</th>
                    <td class="text-right" nowrap>{%if piece.montantTtc%}{{piece.montantTtc|number_format(3, '.', ' ')}}{%endif%}</td>
                </tr>
                <tr>
                    <th>Solde</th>
                    <td class="text-right" nowrap>
                        {%if (piece.solde is not null) and (piece.solde >0) %}
                            <b><span style='color: red;'>
                                {{piece.solde|number_format(3, '.', ' ')}}
                        {%else%}        
                            <b><span style='color: green;'>
                                0.000
                        {%endif%}
                        </span></b>    
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <h4>Liste des réglements</h4>
            <div class="pull-right">
                <span class="btn btn-success modal-regelement" data-label="Ajouter réglement" data-url="{{path('reglement_new_ajax')}}?type=piece&entite={{piece.id}}">Ajouter Réglement</span>
                <span class="btn btn-primary affecter-reglement" data-url='{{path('banqueoperation_index')}}?origin_vue=piece&origin_vue_id={{piece.id}}'>Affecter Réglement</span>
            </div>
            <div class="clear-both"></div>
            <br />
            {%if piece.reglements%}
                <table class="table table-bordered">
                    <tr>
                        <th>Libellé</th>
                        <th class="text-right">Montant</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Banque/Caisse</th>
                        <th>Action</th>
                    </tr>
                    {%set montantTotal = 0%}
                    {%for reg in piece.reglements%}
                        {%set montantTotal = montantTotal + reg.montant%}
                        <tr>
                            <td>{{reg.name}}</td>
                            <td class="text-right">{%if reg.montant%}{{reg.montant|number_format(3, '.', ' ')}}{%endif%}</td>
                            <td>{{reg.type}}</td>
                            <td>{%if reg.date%}{{reg.date|date('d/m/Y')}}{%endif%}</td>
                            <td>
                                
                                {%if reg.BanqueOperation%}
                                    <a class='btn btn-xs btn-danger' href='{{path('reglement_piece_desaffecter_operation_bancaire',{'id':reg.id})}}'>Désaffecter</a> (obc-{{reg.BanqueOperation.id}})
                                {%else%}
                                    <span class="btn btn-xs btn-primary affecter-reglement" data-url='{{path('banqueoperation_index')}}?origin_vue=piece&origin_vue_id={{piece.id}}&origin_type=reglement&origin_type_id={{reg.id}}'>Affecter</span>
                                {%endif%}
                            </td>
                            <td>
                                <ul id="index_action_buttons">
                                    <li><span  data-label="Modifier réglement" data-url="{{path('reglement_edit_ajax',{'id':reg.id})}}?type=piece&entite={{piece.id}}" class="btn btn-xs btn-warning  modal-regelement">Modifier</span></li>
                                    <li><a href='{{path('reglement_show',{'id':reg.id})}}' class="btn btn-xs btn-default">Détails</a></li>
                                </ul>
                            </td>
                        </tr>
                    {%endfor%}
                    <tr>
                        <td></td>
                        <td class="text-right">{{montantTotal|number_format(3, '.', ' ')}}</td>
                        <td colspan="4"></td>
                    </tr>
                </table>
            {%endif%}
        </div>
    </div>
    <div class="modal fade" id="myModalRegelment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalRegelmentLabel"></h4>
                </div>
                <div class="modal-body" id="myModalRegelmentBody">
                    ...
                </div>
                
            </div>
        </div>
    </div>
        
   <div class="modal fade" id="myModalAffectation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="my-modal-large" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalAffectationLabel">Affecter réglement</h4>
                </div>
                <div class="modal-body" id="myModalAffectationBody">
                    ...
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}