{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends 'layout.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/systeofile/css/main.css') }}" type="text/css" />
    <fieldset>
        <legend>{{ 'Détails fichier'}}</legend>
    </fieldset>
    <div class="row">
        <div class='col-lg-12'>
            <div class="btn_add pull-right">
                <ul id='show_action_buttons'>
                    <li><a href="{{ path('file_index') }}"  class="btn btn-info">Liste <span class="glyphicon glyphicon-th-list"></span></a></li>
                    <li>
                        {{ form_start(delete_form) }}

                        <button class='btn btn-danger delete_form_button' data-msg="Voulez vous vraiement supprimer ce fichier?" type="button">Supprimer <span class="glyphicon glyphicon-trash"></span></button>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Fichier</th>
                        <td>
                            {%if file.image == 1 %}
                                <div class='show-files'>
                                    <img src="{{ asset('files/') }}{{file.path}}/{{file.fileName}}" alt="{{file.name}}" />
                                </div>
                            {%else%}
                                <a href="{{ asset('files/') }}{{file.path}}/{{file.fileName}}" target="_blank">{{file.name}}</a>
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <th>Nom du fichier</th>
                        <td>{{file.name}}</td>
                    </tr>
                    <tr>
                        <th>Catégories</th>
                        <td>
                            {% for categ in file.fileCategories%}
                                {{categ.name}}
                            {% endfor%}
                        </td>
                    </tr>
                    <tr>
                        <th>Entité</th>
                        <td>{{file.entity}}/{{file.entityId}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='col-lg-6'>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Enregistrer" class="btn btn-success"/>
            {{ form_end(form) }}
        </div>
    </div>
    
{% endblock %}
