{% extends 'layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <fieldset>
                <legend>{{ 'Liste des Teams'}}</legend>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="btn_add pull-right">
                <a href="{{ path('team_new') }}"  class="btn btn-success pull-right">Ajouter <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered index_table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th id="index_th_action">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.name }}</a></td>
                            
                            <td>
                                <ul id="index_action_buttons">
                                    <li>
                                        <a href="{{ path('team_show', { 'id': team.id }) }}"  class="btn btn-primary btn-xs">Détails <span class="glyphicon glyphicon-search"></span></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('team_edit', { 'id': team.id }) }}"  class="btn btn-warning btn-xs">Modifier  <span class="glyphicon glyphicon-edit"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="navigation">
                {{ knp_pagination_render(teams) }}
            </div> 
        </div>
    </div>
{% endblock %}
